@charset "UTF-8";
/* CSS Document */

.comment-body group grid-4-5{
box-sizing: border-box;
display: block;
float: left;
font-family: 'Source Sans Pro', sans-serif;
font-size: 13.5px;
font-weight: 300;
height: 331px;
line-height: 19.575px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: left;
width: 339.062px;
}

.avatar avatar-160 photo{
border-bottom-color: rgb(0, 0, 0);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(0, 0, 0);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(0, 0, 0);
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
display: block;
font-family: 'Source Sans Pro', sans-serif;
font-size: 13.5px;
font-weight: 300;
height: 65px;
line-height: 19.575px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
max-width: 100%;
text-align: left;
width: 64.7656px;
}
.grid group comment-wrap{
box-sizing: border-box;
display: block;
font-family: 'Source Sans Pro', sans-serif;
font-size: 13.5px;
font-weight: 300;
height: 381px;
line-height: 19.575px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 0px;
padding-top: 20px;
text-align: left;
width: 443.828px;
}
comment-author-wrap vcard{
box-sizing: border-box;
display: block;
font-family: 'Source Sans Pro', sans-serif;
font-size: 13.5px;
font-weight: 300;
height: 46px;
line-height: 19.575px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: left;
width: 339.062px;
]