/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 /* App Features */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size:12px;
	color:#E5DEDF;
	height:100%;
}

/* Portrait layout (default) */
.app {
    min-height:1855px;
	min-width:200px;
}

/* Containers */
#locations{
	margin-bottom:0.0em;
	margin-left:2.4em;
	margin-right:0.0em;
	margin-top:0.0em;
	width:90%;
	}
	
#main-container {
	margin-bottom:0.0em;
	margin-left:3.0em;
	margin-right:-3.0em;
	margin-top:0.0em;
	}
	
#form-container{
	float:left;
	font-size:60px;
	width:70%;
	margin-bottom:0.0em;
	margin-right:0.0em;
	margin-left:3.5em;
	margin-top:2.0em;
	}

#compose-comment-container {
	margin-bottom:0.0em;
	margin-left:3.0em;
	margin-right:0.0em;
	margin-top:0.0em;
	}
	
#container-social{
	position:relative;
}

#social-top{
	margin-top:1.0em;
	margin-left:3.5em;
	position:relative;
	}
	
#behind-left{
	float:left;
	width:50%;
	margin-bottom:0.0em;
	margin-left:0.4em;
	margin-top:-3.0em;
	}
	
#behind-right{
	float:right;
	width:47%;
	margin-bottom:0.0em;
	margin-right:0.5em;
	margin-top:-3.0em;
	}
.comment-container{
	background-color:#FFFFFF;
	padding-bottom:2.0em;
	width:85%;
	float:left;
	margin-bottom:2.0em;
	margin-left:3.0em;
	margin-right:0.0em;
	margin-top:2.0em;
	}
	
/* Image Attributes */
#logo{
	width:80%;
	margin:80px 0px 50px 120px;
	}
	
#icon-dish{
	width:30%;
	float:left;
	margin-bottom:4.0em;
	margin-left:15.5em;
	margin-right:0.0em;
	margin-top:4.0em;
	}
	
.icons {
	width:35%;
	margin-bottom:2.0em;
	margin-left:2.0em;
	margin-right:2.0em;
	margin-top:0.0em;
	}

#food-for-thought-icon{
	margin-top:2.0em;
	margin-left:2.0em;
	margin-bottom:3.0em;
	margin-right:0.0em;
	float:left;
	width:90%;
	}
	
.comment-img{
	float:left;
	width:14%;
	margin-bottom:12.5em;
	margin-left:3.0em;
	margin-right:0.0em;
	margin-top:0.0em;
}

#screenshot{
	background-color:#F6F6F6;
	width:90%;
	padding:50px;
	margin-top:3.0em;
	margin-left:0.1em;
	} 
#penrith-seat-outline{
	margin-bottom:2.0em;
	margin-right:0.0em;
	margin-top:2.0em;
	margin-left:1.5em;
	width:95%;
	}
#phone-icon{
	float:left;
	margin:65px 0px 0px 25px;
	}
.penrith-icon {
	width:30%;
	float:left;
	margin:100px 0px 20px 350px;
	
	}
/* Font Attributes */
h1 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:50px;
    text-align:left;
	color:#DADADA; 
	padding:20px 0px 10px 60px;
}

#title {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:50px;
    text-align:left;
	color:#343434; 
	padding:50px 0px 60px 60px;
	font-weight:bold;
	}

h2 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    text-align:left;
	margin-left:70px;
	}

.form-head{
	font-size:60px;
	text-align:center;
	color:#DADADA; 
	}
/* Form Attributes */
form {
	margin-bottom:2.0em;
	margin-left:5.0em;
	margin-right:0.0em;
	margin-top:2.0em;
	width:50%;
	}
	
form ul li {
	list-style:none;
	font-size:30px;
	padding-bottom:1.5em;
	padding-left:0.0em;
	padding-right:0.0em;
	padding-top:0.0em;
	}
	
#compose-comment textarea{
	color:#9D9D9D; 
	font-size:18px;
	padding-bottom:10.0em;
	padding-left:1.5em;
	padding-right:10.0em;
	padding-top:3.0em;
	}	
textarea {
	color:#9D9D9D; 
	font-size:35px; 
	padding:30px 0px 0px 30px; 
	padding-bottom:.0em;
	padding-left:1.0em;
	padding-right:0.0em;
	padding-top:1.5em;
	}
	
input {
	color:#9D9D9D;
	padding-bottom:1.5em;
	padding-left:1.0em;
	padding-right:0.0em;
	padding-top:1.0em;
	
	}
	

p {
	color:#656565;
	background-color:#DBDBDB;
	padding:30px;
	margin:0px 66px 20px 0px;
	float:right;
	width:62%;
	font-size:20px;
	}

ul {
	list-style-type: none;
	padding:2.0em;
	margin-left:0.0em;
	margin-right:0.0em;
	margin-bottom:0.0em;
	}
	
.nav-link {
	float:left;
	background-color:#515151;/*
	padding:30px 6px 30px 0px;*/
	padding-bottom:1.0em;
	padding-top:1.0em;
	padding-left:2.0em;
	padding-right:2.0em;
}

a {
	display: block;
	margin-left:0.0em;
	margin-right:0.0em;
	margin-top:0.0em;
	margin-bottom:.0em;
	/*
	margin:50px 43px 40px 42px;
	padding:20px;
	*/
}

a:link, a:visited {
display:inline;
color: #FFFFFF;
text-decoration: none;
text-transform: uppercase;
font-size:33px;

}

a:hover, a:active {
background-color:#66AD60;
}
	
/* Navigation Attributes*/
#nav{
    width: 100%;
	display:block;
	position:relative;
	bottom: 0;
    left: 0;
	
	}