/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #3F3F3F 0%, #303030 51%);
    background-image:-webkit-linear-gradient(top, #3F3F3F 0%, #303030 51%);
    background-image:-ms-linear-gradient(top, #3F3F3F 0%, #303030 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #3F3F3F),
        color-stop(0.51, #303030)
    );
    background-attachment:fixed;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:99%;
	color:#E5DEDF;
}

#logo{
	width:90%;
	margin-left:5%;
	}
	
#seatComments {
	background-color: #D1D0D0;
	color: #434242;
	width:50%;
	margin-left:20%;
	}	
/* Portrait layout (default) */
.app {
    width:100%;                   /* text area width */
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px 0px 0px 0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:50px;
    overflow:visible;
    text-align:left;
	padding:50px;
}

h2 {
	font-size: 22px;
   font-weight:strong;
    margin:10px;
    overflow:visible;
    padding:0px;
    text-align:left;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
nav{
	width:100%;
	height:150px;
	background-color:#444444;
	}
	
nav ul {
width:100%;
margin: 0px 0px 75% 0px; 
}

nav ul li {
float:left;
font-size:36px;
color:#EFEFEF;
margin:25px 0px 0px 0px;
padding:30px 30px 30px 30px;
border-right:1px solid #FFF;
border-left:1px solid #FFF;
height:40px;
list-style:none;
display:block;
line-height:40px;
text-align:center;
cursor:pointer;
}

a {
	color:#EFEFEF;
	text-decoration:none;
	}

nav ul li:hover {
background-color:#31602D;
}