/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 /* App Features */
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:200px) {
    .app {
        background-position:left center;
        padding:0px;     
	} 

#logo{
	width:80%;
	margin:10% 0% 0% 10%;
	}
/* Containers */
#main-container {
	margin:0%;
	}

.comment-container{
	background-color:#FFFFFF;
	padding-bottom:2%;
	width:93%;
	float:left;
	margin-bottom:55%;
	margin-top:10%;
	}

#compose-comment-container {
	margin: 0% 0% 0% 0%;
	}
	
#form-container{
	float:left;
	font-size:60px;
	margin:5% 0% 20% 10%;
	}

#form-compose-comment {
	margin:0% 0% 0% 25%;
	margin-bottom:20%;
	width:auto;
	}

#form-compose-comment textarea{
	color:#9D9D9D; 
	font-size:1.0em;
	}
#form-compose-comment ul li{
	color:#9D9D9D; 
	font-size:2.0em;
	}
	
.comment-img{
	float:left;
	width:14%;
	margin:0% 4% 0% 0%;
}

p {
	color:#656565;
	background-color:#EEEEEE;
	margin:0% 5% 5% 5%;
	padding:3%;
	float:left;
	width:80%;
	font-size:20px;
	}
	
.penrith-icon{
	margin:5% 0% 5% 40%;
	width:20%;
	float:left;
	}

#container-social{
	width:100%;
	position:relative;
}

#social-top{
	margin:0% 0% -2.0em 15%;
	position:relative;
	width:70%;
	}
	
#behind-left{
	float:left;
	width:40%;
	margin:0% 0% 0% 12%;
	}
	
#behind-right{
	float:right;
	width:37%;
	margin:0% 11% 0% 0%;
	}
#screenshot{
	background-color:#F6F6F6;
	width:80%;
	float:left;
	padding:4%;
	margin:5% 0% 0% 6%;
	} 

#phone-icon{
	float:left;
	margin:5% 0% 20% 5%;
	width:89%;
	}
	
#icon-dish{
	width:23%;
	float:left;
	position:relative;
	margin:5% 0% 0% 40%;}
	
#locations{
	float:left;
	margin:5% 0% 10% 0%;
	}
	
.icons {
	max-width:20%;
	float:left;
	margin:0% 0% 0% 4%;
	}

#logon-form {
	margin:9% 0% 10% 35%;
	padding:0% 0% 0% 0%;
	font-size:20px;
	}
#compose-comment textarea {
	color:#9D9D9D; 
	font-size:18px;
	padding-bottom:10.0em;
	padding-left:1.5em;
	padding-right:10.0em;
	padding-top:3.0em;
	}
	
input {
	color:#9D9D9D;
	padding:2% 0% 2% 2%;
	}

#food-for-thought-icon{
	margin:5% 0% 10% 9%;
	float:left;
	width:80%;
	}
	
#penrith-seat-outline{
	margin:5% 0% 15% 25%;
	width:50%;
	}
	
h1 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:5.0em;
    text-align:left;
	color:#DADADA; 
	margin:5% 0% 0% 10%;
}

h2 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:3.5em;
    text-align:left;
	color:#DADADA; 
}
	
.form-head{
	font-size:1.5em;
	text-align:center;
	color:#DADADA; 
	}
	
ul {
	list-style-type: none;
	padding:0%;
	}
	
.nav-link {
	float:left;
	background-color:#515151;
	padding:1% 8% 2% 8%;
	margin:0% 0% 0% 0%;
}

.nav-brand{
	float:left;
	}
	
#brand{
	min-width:10%;
	max-width:80%;
	display:flex;
	margin-top:-4.0em;
	}

a {
	display: block;
}

a:link, a:visited {
display:inline;
color: #FFFFFF;
text-decoration: none;
text-transform: uppercase;

}

a:hover, a:active {
background-color:#66AD60;
}
	
/* Navigation Attributes*/
#nav{
	width:100%;
	position:fixed;
	display:inline-block;
	left:0;
	bottom:0;
	padding:0% 0% 0% 0%;
	margin-left:0%;
	margin-right:0%;
	margin-bottom:0%;
	margin-top:0%;
	font-size:20px;
	}
}
