/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 /* App Features */
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:0px) {
    .app {
        background-position:left center;
        padding:0px;     
	} 

#logo{
	width:80%;
	margin:180px 0px 50px 120px;
	}
/* Containers */
#main-container {
	margin:50px 0px 0px 50px;
	}

.comment-container{
	background-color:#FFFFFF;
	padding:0px 0px 20px 0px;
	width:85%;
	float:left;
	margin-left:50px;
	}

#compose-comment-container {
	margin-top:-100px;
	}
	
#form-container{
	float:left;
	font-size:60px;
	margin:250px 0px 0px 0px;
	}
	
	
.comment-img{
	float:left;
	padding:0px 0px 0px 0px;
	margin:0px 0px 50px 60px;
	display:block;
	width:12%;
}

p {
	color:#656565;
	background-color:#DBDBDB;
	padding:30px;
	margin:0px 66px 50px 0px;
	float:right;
	width:72%;
	font-size:20px;
	}
	
.penrith-icon{
	margin:60px 0px 0px 650px;
	width:20%;
	float:left;
	position:relative;
	}

.write-review{
	display:visible; 
	margin:0px 0px -120px -660px;
	}
#container-social{
	margin:450px 0px 0px 0px;
	width:100%;
	position:absolute;
}

#social-top{
	margin:0px 0px 0px 450px;
	position:absolute;
	}
	
#behind-left{
	float:left;
	background-color:#855D5D;
	margin:100px 0px 0px 337px;
	width:0%;
	}
	
#behind-right{
	background-color:#855D5D;
	float:right;
	margin:100px 1024px 0px 0px;
	width:0%;
}
#screenshot{
	background-color:#F6F6F6;
	width:45%;
	padding:50px;
	margin:500px 0px 0px 450px;
	display:inline-block;
	} 

#phone-icon{
	float:left;
	margin:35px 0px 0px 420px;
	}
	
#icon-dish{
	width:23%;
	margin:150px 0px 0px 700px;
	}
	
#locations{
	width:100%;
	display:inline-block;
	position:relative;
	}

.icons {
	padding:0px 0px 0px 0px;
	width:19%;
	}

form {
	padding:20px 0px 0px 0px;
	margin:150px 0px 200px 600px;
	}

form ul li {
	list-style:none;
	padding:20px 0px 0px 0px;
	}
	
textarea {
	color:#9D9D9D; 
	font-size:18px; 
	padding-left:30px;
	}
	
input {
	color:#9D9D9D;
	padding:15px 0px 15px 20px;
	}
	
#food-for-thought-icon{
	margin-top:0px;
	margin-left:190px;
	width:80%;
	}
	
#penrith-seat-outline{
	margin:100px 0px 0px -35px;
	width:50%;
	margin-left:500px;
	}
	
h1 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:50px;
    text-align:left;
	color:#DADADA; 
	padding:20px 0px 10px 60px;
}

h2 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:40px;
    text-align:left;
	color:#DADADA; 
}
	
.form-head{
	font-size:60px;
	text-align:center;
	color:#DADADA; 
	margin:0px 0px 0px 300px;
	}
	
ul {
	list-style-type: none;
	padding:0px;
	}
	
.nav-link {
	float:left;
	background-color:#515151;
	padding:30px 116px 30px 100px;
}

a {
	display: block;
	padding:20px;
}

a:link, a:visited {
display:inline;
color: #FFFFFF;
text-decoration: none;
text-transform: uppercase;
font-size:33px;

}

a:hover, a:active {
background-color:#66AD60;
}
	
/* Navigation Attributes*/
#nav{
	width:100%;
	position:fixed;
	display:inline-block;
	left:0;
	bottom:0;
	}
}
